---
layout: default
tags: publication
---

<article class="post">
  {%- assign pub_key =  page.path | remove: ".md" -%}
  {%- assign pub     =  site.data.publications[pub_key] -%}

  <header class="post-header">
    <h1 class="post-title">{{ pub.title | escape }}</h1>
  </header>

  {{pub.venue}}, {{pub.month}} {{pub.year}}
  {% if pub.award %}
    <i><b>{{ pub.award }}</b></i>
  {%- endif -%}
  <br/>
  <br/>

  <div class="post-content">
    <h2>Abstract</h2>
    {{ pub.abstract }}

    {% if pub.pdf %}
    <h2>Article</h2>
    <a href="{{ pub.pdf }}"><img src="/assets/pdf.png" alt="pdf"/></a>
    <br/><br/>
    {%- endif -%} 

    {%- if pub.embeddedmovie -%}
    <h2>Movie</h2>
    {{- pub.embeddedmovie -}}
    {%- endif -%} 

    <h2>BibTeX</h2>
    <code>
      <pre>
@article{
{{- pub.authors[0] -}}
{{- pub.year -}}
{%- if pub.tag -%}
{{- pub.tag -}}
{%- endif %},
  title={ {{- pub.title -}} },
  author={
{%- for author in pub.authors -%}{%- if author == "kjolstad" -%}{{ site.data.authors[author].name }}{%- else -%}{{ site.data.authors[author].name }}{%- endif -%}{% if forloop.last == false and forloop.length > 2 %} and {% endif %}
{%- endfor -%}
},
  journal={ {{- pub.venue -}} },
  {%- if pub.volume %}
  volume={ {{- pub.volume -}} },
  {%- endif -%}
  {%- if pub.issue %}
  issue={ {{- pub.issue -}} },
  {%- endif %}
  year={ {{- pub.year -}} },
  month={ {{- pub.month -}} }
}
      </pre>
    </code>

  </div>
</article>
